<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="clickableconsole.ClickablePatternMatchListenerDelegate"
            id="ClickableConsole.clickableConsolePatternMatchListener"
            regex="[A-Za-z]:([/\\][^&lt;&gt;:&quot;\/\\\|\?\*]+)+:\d+|(/[^/\n\r]+)+\.[a-zA-Z]+:\d+">
            <!--                            windows                           linux -->
         <enablement></enablement>
      </consolePatternMatchListener>
   </extension>

</plugin>
